.asteriskField {
    display: none;
}

form .alert ul li {
    list-style: none;
}

form .alert ul {
    padding: 0;
    margin: 0;
}

.form-control-file {
    height: calc(1.5em + .75rem + 2px);
    background-clip: padding-box;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#div_id_maxgap {
    white-space: nowrap;
}

#div_id_maxtime {
    white-space: nowrap;
}

#div_id_maxgap div {
    display: inline-block;
}

#div_id_maxtime div {
    display: inline-block;
}

label {
    display: inline-block;
}